@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.align-item {
    align-items: center;
}

.gap-100 {
    gap: 100px;
}

.bg-image {
    background-image: url(../image/Sign\in.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.sign-in {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: left;
    margin-top: 48px;
}

.para {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #62656D;
    margin-top: 10px;
}

.Register {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.sign-in-form {
    max-width: 340px;
}

.email {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: rgba(245, 248, 255);
    width: 100%;
    max-width: 340px;
    border-radius: 6px;
    border: 1px solid rgba(228, 234, 247);
    padding: 10px;
    padding-left: 40px;
    margin-top: 30px;
}

.password {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: rgba(245, 248, 255);
    width: 100%;
    max-width: 340px;
    border-radius: 6px;
    border: 1px solid rgba(228, 234, 247);
    padding: 10px;
    padding-left: 40px;
}

.position-relative {
    position: relative;
}

.svg-1 {
    left: -44%;
    bottom: 30px;
}

.svg-2 {
    left: -41%;
    bottom: 30px;
}

.eye {
    left: 40%;
    bottom: 30px;
}

.remember {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-left: 20px;
    color: #62656D;
    cursor: pointer;
}

.forgot {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    color: #62656D;
    padding-left: 100px;
    cursor: pointer;
}

.btn {
    font-family: "Poppins", sans-serif;
    max-width: 340px;
    width: 100%;
    height: 48px;
    text-align: center;
    border-radius: 50px;
    margin-top: 24px;
    margin-right: 55%;
    color: white;
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
    border: 1px solid #2194FF;
    cursor: pointer;
}

hr {
    border: none;
    border-top: 2px solid #C9CFDB;
    max-width: 340px;
    margin-top: 26px;
    color: #919789;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr::after {
    background: #fff;
    content: 'or continue with';
    padding: 0 7px;
    position: relative;
    top: -13px;
    font-family: "Lato", sans-serif;
}

.google {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #62656D;
    width: 44px;
    height: 21px;
    margin-left: 10px;
}

.google-svg-text {
    max-width: 166px;
    width: 34%;
    height: 41px;
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    border: 1px solid #E4EAF7;
    margin-top: 21px;
}

.google-svg {
    margin-left: 30px;
}

.google-svg-text:hover {
    transform: scale(1.1);
    transition: all 200ms linear;
}

.facebook {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-left: 10px;
    color: #62656D;
}

.facebook-svg-text {
    max-width: 166px;
    width: 34%;
    height: 41px;
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    border: 1px solid #E4EAF7;
    margin-top: 21px;
    margin-left: 8px;
}

.facebook-svg {
    margin-left: 20px;
}

.svg {
    max-width: 100%;
    text-align: left;
}

.facebook-svg-text:hover {
    transform: scale(1.1);
    transition: all 200ms linear;
}

.card-1 {
    width: 595px;
    height: 500px;
    position: relative;
}

.bg-image::after {
    content: "";
    width: 50%;
    height: 100%;
    right: 0%;
    position: absolute;
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
}

.svg-facebook {
    position: absolute;
    top: 20.5%;
    left: 12%;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding-top: 9px;
}

.svg-facebook:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
}

.linkedin-svg {
    position: absolute;
    top: 39.5%;
    left: 12%;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding-top: 7.5px;
}

.linkedin-svg:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
}

.instagram-svg {
    position: absolute;
    top: 61%;
    left: 12%;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding-top: 9px;
}

.instagram-svg:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
}

.twitter-svg {
    position: absolute;
    top: 81%;
    left: 12%;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding-top: 8px;
}

.twitter-svg:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
}

.img {
    position: absolute;
    top: 24%;
    right: 43.5%;
    z-index: 1;
}

.Ellipse {
    position: absolute;
    top: 7%;
    right: 3%;
    z-index: 1;
}

.group-img {
    position: absolute;
    top: 32%;
    z-index: 1;
}

.group {
    position: absolute;
    top: 24%;
    right: 18%;
    z-index: 1;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

@media (min-width:992px) {
    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mb-24 {
        margin-bottom: 24px;
    }
}

@media (max-width:992px) {
    .bg-image::after {
        height: 100%;
        width: 100%;
        top: 85%;
        right: 0%;
        position: absolute;
    }

    .Ellipse {
        position: absolute;
        top: 25%;
    }

    .group {
        position: absolute;
        top: 40%;
    }

    .group-img {
        position: absolute;
        top: 42%;
    }

    .img {
        position: absolute;
        top: 40%;
    }

    .svg-facebook {
        position: absolute;
        top: 36%;
    }

    .linkedin-svg {
        position: absolute;
        top: 56%;
    }

    .instagram-svg {
        position: absolute;
        top: 78%;
    }

    .twitter-svg {
        position: absolute;
        top: 97%;
    }
}